{{define "title"}}About{{end}}

{{define "main"}}
<!-- <div class="mx-auto max-w-5xl px-8 lg:px-0 pt-10 ">
<h1 class="mb-10 text-4xl text-left font-extrabold tracking-base leading-none md:text-5xl lg:text-6xl">
    About HKN
</h1>
<div class="flex flex-wrap items-center gap-4 w-full">
    <div class="w-full md:w-1/3 rounded-lg">
        <img src="static/images/img/hkn_group_photo.png" alt="Group Photo" class="rounded-lg w-full max-w-md">
    </div>
    <div class="w-full md:w-1/2">
        <p class='text-lg font-normal text-gray-300 lg:text-xl w-full'>
            UCLA HKN is the UCLA chapter of Eta Kappa Nu, the national honor society
            for electrical and computer engineers. We are dedicated to helping our members
            grow academically, professionally, and socially. We offer a variety of services
            to our members, including tutoring, workshops, and social events. We also provide
            opportunities for our members to network with industry professionals and to give back
            to the community. If you are interested in contacting UCLA HKN, please email us at <a href="mailto:">hkn.ucla@gmail.com</a>
        </p>
    </div>
</div> -->
<article class="group flex flex-col min-h-screen text-center text-white">
    <img
      alt="Group image"
      src="static/images/img/hkn_group_photo.png"
      class="h-100 w-full object-cover shadow-xl mb-10"
    />
<div class="flex flex-col p-4 justify-center items-center">
    <h1 class="mb-4 text-4xl font-extrabold tracking-wider leading-none text-white md:text-5xl lg:text-6xl">
        About HKN
    </h1>
    <p class="mt-2 w-1/2 text-center mb-8 text-lg font-normal text-gray-300">
        UCLA HKN is the UCLA chapter of Eta Kappa Nu, the national honor society
        for electrical and computer engineers. We are dedicated to helping our members
        grow academically, professionally, and socially. We offer a variety of services
        to our members, including tutoring, workshops, and social events. We also provide
        opportunities for our members to network with industry professionals and to give back
        to the community. If you are interested in contacting UCLA HKN, please email us at <a href="mailto:" class="text-blue-300 underline">hkn.ucla@gmail.com</a>
    </p>
</div>
</article>
{{end}}