{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About UCLA HKN</h2>
    <p>
        UCLA HKN is the UCLA chapter of Eta Kappa Nu, the national honor society for electrical and computer engineers. We are dedicated to helping our members grow academically, professionally, and socially.
    </p>
    <p>
        We offer a variety of services to our members, including tutoring, workshops, and social events. We also provide opportunities for our members to network with industry professionals and to give back to the community.
    </p>
    <p>
        If you are interested in contacting UCLA HKN, please email us at <a href="mailto:">hkn.ucla@gmail.com</a>
    </p>
{{end}}