{{define "title"}}Events{{end}}

{{define "main"}}
    <h2>Upcoming Events</h2>
    <p>
        UCLA HKN hosts a variety of events throughout the year, including workshops, social events, and community service events. Our events are open to all UCLA students, regardless of major or class level.
    </p>
    <p>
        If you are interested in attending any of our events, please email us at <a href="mailto:">hkn.ucla@gmail.com</a>
    </p>

    <h3>Workshops</h3>
    <p>
        UCLA HKN hosts workshops on a variety of topics, including technical skills, professional development, and personal growth. Our workshops are led by industry professionals, faculty members, and student leaders.
    </p>
{{end}}
