{{define "title"}}Officers{{end}}

{{define "main"}}
    <h2>Meet the Officers</h2>
    <p>
        The UCLA chapter of Eta Kappa Nu is run by a group of dedicated officers who are passionate about electrical and computer engineering and computer science. Our officers are responsible for planning and organizing events, managing the chapter's finances, and ensuring that the chapter runs smoothly.
    </p>
    <p>
        If you are interested in contacting any of our officers, please email us at <a href="mailto:">hkn.ucla@gmail.com</a>
    </p>

    <h3>President</h3>
    <p>
        The president is responsible for overseeing the chapter and ensuring that it is running smoothly. The president is also responsible for representing the chapter to the university and the community.
    </p>
    <ul>
        <li>Name: John Doe</li>
        <li>Email:
    </ul>

    <h3>Vice President</h3>
    <p>
        The vice president is responsible for assisting the president in running the chapter. The vice president is also responsible for organizing events and managing the chapter's finances.
    </p>
    <ul>
        <li>Name: Jane Smith</li>
        <li>Email:
    </ul>

    <h3>Secretary</h3>
    <p>
        The secretary is responsible for keeping track of the chapter's records and maintaining the chapter's website and social media accounts.
    </p>
    <ul>
        <li>Name: Alice Johnson</li>
        <li>Email:
    </ul>

    <h3>Treasurer</h3>
    <p>
        The treasurer is responsible for managing the chapter's finances and budget. The treasurer is also responsible for collecting dues and paying bills.
    </p>
    <ul>
        <li>Name: Bob Brown</li>
        <li>Email:
    </ul>

{{end}}

    