{{define "title"}}Officers{{end}}

{{define "main"}}
<section class="py-32 text-white">
    <div class="mx-auto max-w-3xl px-8 lg:px-0">
        <h2 class="text-title mb-16 text-4xl font-bold lg:text-5xl">Our Team</h2>

        <div>
            <h3 class="text-title mb-6 text-lg font-medium">Upper Board</h3>
            <div data-rounded="full" class="grid grid-cols-2 gap-4 border-t py-6 md:grid-cols-4">
                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Thomas Chu</span>
                    <span class="text-caption block text-xs">President</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm text-center">Rundong (Gabriel) Jiang</span>
                    <span class="text-caption block text-xs">Internal Vice President</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/Simba_Chen.png" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Simba Chen</span>
                    <span class="text-caption block text-xs">External Vice President</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Nathan Chen</span>
                    <span class="text-caption block text-xs">External Vice President</span>
                </div>
            </div>
        </div>

        <div class="mt-6">
            <h3 class="text-title mb-6 text-lg font-medium">Core</h3>
            <div data-rounded="full" class="grid grid-cols-2 gap-4 border-t py-6 md:grid-cols-4">
                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/Rachel_Yen.jpg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Rachel Yen</span>
                    <span class="text-caption block text-xs">Treasurer</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/Howard_Shu.jpg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Howard Shu</span>
                    <span class="text-caption block text-xs">Secretary</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Samantha Redifer</span>
                    <span class="text-caption block text-xs">Publicity</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Patrik Mulligan</span>
                    <span class="text-caption block text-xs">Historian</span>
                </div>
            </div>
        </div>

        <div class="mt-6">
            <h3 class="text-title mb-6 text-lg font-medium">Operations</h3>
            <div data-rounded="full" class="grid grid-cols-2 gap-4 border-t py-6 md:grid-cols-4">
                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/Edward_Liu.jpg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Edward Liu</span>
                    <span class="text-caption block text-xs">Social</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/Harry_Wang.jpg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Harry Wang</span>
                    <span class="text-caption block text-xs">Social</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/Samuel_Chua.jpg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Samuel Chua</span>
                    <span class="text-caption block text-xs">Mentorship</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Rohan Sinha</span>
                    <span class="text-caption block text-xs">Mentorship</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Nathan Leobandung</span>
                    <span class="text-caption block text-xs">Webmaster</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/Georgios_Spanodimos.jpg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Georgios Spanodimos</span>
                    <span class="text-caption block text-xs">Webmaster</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Ethan Lai</span>
                    <span class="text-caption block text-xs">Tutoring</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/Darren_Chin.jpg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Darren Chin</span>
                    <span class="text-caption block text-xs">Workshops</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/Mingxin_Liu.png" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm text-center">Mingxin Marshall Liu</span>
                    <span class="text-caption block text-xs">Workshops</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Lydia Huang</span>
                    <span class="text-caption block text-xs">Membership</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/Henry_Shu.jpg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Henry Shu</span>
                    <span class="text-caption block text-xs">Faculty/Alumni</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Sofia Behzadi</span>
                    <span class="text-caption block text-xs">Faculty/Alumni</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Darren Chin</span>
                    <span class="text-caption block text-xs">Workshops</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Charles Zhang</span>
                    <span class="text-caption block text-xs">Faculty/Alumni</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Iris Shen</span>
                    <span class="text-caption block text-xs">Outreach</span>
                </div>

                <div class="flex flex-col items-center">
                    <div class="rounded-avatar bg-ui size-30 p-0.5 shadow shadow-gray-950/5">
                        <img class="aspect-square rounded-full object-cover" src="static/images/officers/default_pfp.svg" alt="President" height="460" width="460" loading="lazy" />
                    </div>
                    <span class="text-title mt-2 block text-sm">Jaz Reyes</span>
                    <span class="text-caption block text-xs">Outreach</span>
                </div>

            </div>
        </div>

    </div>
</section>
{{end}}

    